:root {
    --primary-color: #141415;
    --secondary-color: #f1f1f2;
    --accent-color: #d74b0d;
    --muted-color: #8f8f90;

    scroll-behavior: smooth;
    background: var(--primary-color);
    color: var(--secondary-color);
    word-wrap: break-word;
}

p,
li {
    color: var(--muted-color);
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

ul {
    padding-inline: 33px;
}

.disabled {
    pointer-events: none;
}

.link svg {
    transform: translate(4px, 2px);
}

@media (hover: hover) {
    .link:hover {
        color: var(--accent-color);
        text-decoration: underline;
        text-underline-offset: 5.5px;
        text-decoration-style: dotted;
    }

    .link svg {
        transition: transform 0.2s ease;
    }

    .link:hover svg {
        transform: translate(6px, 1px);
    }

    .link svg:hover {
        filter: brightness(200%);
    }
}
